.noir{

    background-color: black;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    
        }
    
        .copy{
    
            color: white;
            width: 5%;
            border: solid 3px red;
            align-items: center;
            justify-content: center;
        }